<h2> Feeds </h2>


<div class="container">
  <div class="row">
    <div class="col">
      <!-- Empty -->
    </div>
    <div class="col">
      <% if @articles.empty? %>
        <p>You're feed is empty!</p>
        <p><a href="/">Add a feed!</a></p>
      <% else %>
      <% @articles.each do | article | %>
        <% article[:articles].each do | item | %>
        <br/>
        <div class="">
          <h4 class=""><%= item[:title] %></h4>
          <%= item.image %>
          <br/>
          <p class=""><%= article[:name] %></p>
          <p class=""><%= item[:description] %></p>
          <p class=""><%= item[:date].to_s.split(" ").slice(0,4).join(" ") %></p>
          <a href="<%=item[:link]%>">Read More</a>
        </div>
        <%  end %>
      <% end %>

      <% end %>
    </div>
    <div class="col">
    </div>
  </div>
</div>
