<% if @articles.empty? %>
  <header>
     <h1>Simplicity RSS Reader</h1>
  </header>
  <div class="secondary-font" id="feed-empty">
     <p>You're feed is empty!</p>
     <p><a href="/">Add a feed!</a></p>
  </div>
<% else %>
<div id="side">
  <% @feeds.each do | feed | %>
    <form action="/get_feed/<%= feed.id %>" method="post">
      <input type="submit" value="<%= feed.name %>">
    </form>

    <form action="/feed/:id" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Feed" name="Delete <%= feed.name %>">
    </form>
  <% end %>
</div>
<div id="view-articles-scroll-wrapper">

<div id="view-articles">
  <h3 id="currently-viewing">Currently Viewing: <span id="currently-viewing-name"> <%= @articles[0].feed.name %> </span></h3>
  <% @articles.each do | article | %>
        <article>
           <header class="article-title">
              <h4><%= article.title %></h4>
           </header>
           <%if /[A-z]/.match( article.description ).nil?%>
              <p class="article-description" style="text-align:center;">No description avilable.</p>
          <% else %>
            <p class="article-description"><%= article.description %></p>
           <% end %>
           <p class="article-date"><%= article.date.to_s.split(" ").slice(0,4).join(" ") %></p>
           <a class="article-link" href="<%= article.link %>" target="_blank">Continue Reading</a>
        </article>
  <% end %>
</div>
</div>
<% end %>
