<h2> Feeds </h2>

<% @articles.each do | article | %>
  <% article[:articles].each do | item | %>
  <div class="">
    <h4 class=""><%= item[:title] %></h4>
    <%= item.image %>
    <br/>
    <p class=""><%= article[:name] %></p>
    <% if item[:description].empty? %>
    <%  item[:description] = "No Description" %>
    <% end %>
    <p class=""><%= item[:description] %></p>
    <p class=""><%= item[:date].to_s.split(" ").slice(0,4).join(" ") %></p>
    <a href="<%=item[:link]%>">Read More</a>
  </div>
  <%  end %>
    <br/>
<% end %>
